/** Hello! */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i");
@import url("https://use.typekit.net/bkg5gqt.css");
header {
  background-image: url("../images/coffee-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  header img {
    width: 136px;
    margin-top: 35px;
    margin-left: 35px; }
  header strong {
    font-family: viktor-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10em;
    line-height: 121px; }

.header-text {
  width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 245px; }
  .header-text p {
    font-size: 2.8em;
    margin-top: 40px;
    padding-bottom: 200px;
    margin-bottom: 0; }

.menu {
  list-style: none;
  display: flex; }

nav {
  float: right;
  clear: both;
  margin-top: 35px;
  text-transform: uppercase; }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-right: 35px; }

.menu-section {
  background-image: url("../images/paper-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 175px;
  padding-top: 175px; }
  .menu-section img {
    margin-top: 30px; }
  .menu-section strong {
    font-size: 3.6em;
    text-transform: uppercase;
    line-height: 43px; }
  .menu-section p {
    font-size: 2.8em;
    font-weight: 300;
    line-height: 34px; }

.menu-button {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  background-color: #898989;
  padding: 12px; }
  .menu-button a {
    color: white;
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    display: block;
    border: 3px solid white;
    padding: 10px; }

.menu-text {
  width: 830px;
  color: #898989;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.about-us {
  background-color: #52000D;
  color: white;
  display: flex;
  padding-left: 225px;
  padding-right: 225px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 130px; }
  .about-us p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 18px; }
  .about-us strong {
    font-size: 1.8em;
    text-transform: uppercase;
    line-height: 22px; }
  .about-us .underline {
    width: 94px;
    margin-bottom: 50px; }

.about-image img {
  width: 545px;
  padding-top: 180px; }

.about-text {
  width: 45%;
  padding-top: 100px; }

.hours {
  background-color: #898989;
  color: white;
  padding-top: 60px;
  padding-bottom: 70px; }
  .hours .time {
    font-size: 2.8em;
    text-transform: uppercase;
    line-height: 55px;
    text-align: center;
    display: block;
    margin-top: 25px; }
  .hours .underline {
    width: 66px; }

.contact-us {
  background-image: url("../images/paper-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 75px;
  padding-top: 75px;
  color: #898989; }
  .contact-us .contact-form {
    width: 655px;
    margin-left: auto;
    margin-right: auto; }
  .contact-us form {
    margin-top: 60px; }
  .contact-us .text-field {
    margin-bottom: 45px; }
    .contact-us .text-field input {
      width: 467px;
      border: none;
      padding: 8px 0px 5px 8px;
      margin-left: 25px;
      font-size: 1.6em;
      font-weight: 200;
      font-family: Josefin Sans, sans-serif; }
  .contact-us label {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700; }
  .contact-us .comments {
    display: flex;
    margin-left: 39px; }
    .contact-us .comments label {
      margin: 4px 4px 0px 0px;
      display: block; }
  .contact-us #comments {
    width: 475px;
    border: none;
    padding: 8px 0px 5px 8px;
    margin-left: 25px;
    font-size: 1.6em;
    font-weight: 200;
    font-family: Josefin Sans, sans-serif; }

.submit-button {
  width: 127px;
  background-color: #898989;
  padding: 8px;
  margin-left: auto;
  margin-top: 45px; }
  .submit-button input {
    background: none;
    color: white;
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 400;
    text-align: center;
    border: 3px solid white;
    padding: 6px 14px 6px 14px; }

.menu-page {
  background-image: url("../images/paper-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 175px;
  padding-top: 145px; }
  .menu-page h2 {
    color: #898989; }
  .menu-page h3 {
    font-size: 3.6em;
    text-transform: uppercase; }
  .menu-page h4 {
    font-size: 2.4em;
    text-transform: uppercase; }
  .menu-page img {
    width: 69px;
    margin-top: 7px; }

.menu-container {
  background-color: #898989;
  width: 675px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding-top: 30px;
  margin-top: 75px;
  padding-bottom: 62px; }

.menu-container-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 600px;
  margin-left: auto;
  margin-right: auto; }

.category {
  width: 245px; }
  .category p {
    font-size: 1.5em;
    line-height: 27px;
    font-weight: 100; }

body {
  font-size: 62.5%;
  width: 100%;
  font-family: Josefin Sans, sans-serif;
  margin: 0; }

footer {
  background-color: #52000D;
  color: #898989;
  line-height: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  font-weight: 300;
  text-align: center;
  margin-top: -20px; }

h2 {
  font-family: viktor-script, sans-serif;
  font-size: 7.2em;
  text-align: center;
  margin-bottom: -25px;
  margin-top: 0; }

.underline {
  margin-left: auto;
  margin-right: auto;
  width: 136px;
  display: block; }

/*# sourceMappingURL=styles.css.map */
